<?xml version="1.0" encoding="utf-8"?>
<manifest package="ai.screentalk.screen">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <service
            android:name="ai.screentalk.screen.ScreenCaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|microphone" />

        <service
            android:name="ai.screentalk.screen.accessibility.ScreenReaderService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/screen_reader_config" />
        </service>
    </application>
</manifest>
